.ant-tabs-nav .ant-tabs-nav-animated {
  float: left !important;
}

.ant-tabs-ink-bar .ant-tabs-ink-bar-animated {
  padding-left: 50px !important;
}

.ant-tabs-tab-active .ant-tabs-tab {
  padding: 12px 7px !important;
}

.App {
  margin: 2px 20px;
}